// Global
h6 {
    font-size: 14px;
}

.object-fit-cover {
    object-fit: cover;
}

.btn-small {
    padding: 5px 10px;
    font-size: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.img-card {
    height: 250px;
}



// Rating stars
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: fit-content;
    > input {
        display: none;
        &:checked~label .fas {
            opacity: 1;
            visibility: visible;
        }
    }
    .fa-star.far {
        position: absolute;
    }
    
    .fa-star.fas {
        visibility: hidden;
    }
    &:hover>input:checked~label .fas {
        opacity: 0.4;
        visibility: visible;
    }
    > label {
        position: relative;
        font-size: 25px;
        font-weight: 300;
        color: #ffbf00;
        margin: 0;
        cursor: pointer;
        &:hover .fas,
        &:hover~label .fas {
            opacity: 1 !important;
            visibility: visible;
        }
    }
}
// Stars
.fa-star {
    margin-inline: 2px;
}

// Reviews Page
.rating-total {
    font-size: 18px;
    .rating-total-stars,
    .rating-total-value {
        color: #ffbf00;
    }
}

.user-rating {
    color: #ffbf00;
}

.text-black {
    color: #000000;
}