h6 {
    font-size: 14px;
}

.object-fit-cover {
    object-fit: cover;
}

.btn-small {
    padding: 5px 10px;
    font-size: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.img-card {
    height: 250px;
}